.keyboardKey {
  cursor: pointer;
  text-align: center;
  width: 60px;
  height: 60px;
  font-size: 17px;
  display: grid;
  place-content: center;
  border: none;
  border-radius: 50%;
  color: rgb(70, 70, 70);
  box-shadow: 5px 5px 10px #babecc, -5px -5px 10px #f2f3f5;
  margin: 8px;
}

.keyboardKey:hover {
  background: #babecc;
}

.keyboardKeyLarge {
  width: 132px;
  border-radius: 10px;
}
