@import url("https://fonts.googleapis.com/css?family=Montserrat&display=swap");

body {
  background-color: #e0e5ec;
}

.calculatorWrapper {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.calculator {
  padding: 15px;
  border-radius: 10px;
  box-shadow: 5px 5px 10px #babecc, -5px -5px 10px #f2f3f5;
  display: flex;
  flex-direction: column;
  width: 300px;
  box-sizing: content-box;
}

.calculatorScreen {
  box-shadow: inset 5px 5px 10px #babecc, inset -5px -5px 10px #f2f3f5;
  border: none;
  border-radius: 10px;
  color: rgb(70, 70, 70);
  text-align: end;
  font-size: 50px;
  margin-bottom: 15px;
  padding: 10px;
  outline: none; 
}
